In [1]:
import pandas as pd

In [2]:
flight_df = pd.read_csv('finaloutput.csv')

In [3]:
flight_df

,Unnamed: 0,icao,iata,name,shortName,municipalityName,countryCode,lat,lon,from,averageDailyFlights,dist,co2KGPerPerson,percentageco2(%)
0,0,KDCA,DCA,"Ronald Reagan Washington National, District of...",Ronald Reagan Washington National,District of Columbia,US,38.8521,-77.03770,BOS,27.81,641.97,73.83,2.034591
1,1,KJFK,JFK,"John F Kennedy, New York",John F Kennedy,New York,US,40.6398,-73.77890,BOS,21.14,300.30,34.53,0.951570
2,2,KMCO,MCO,"Orlando, Orlando",NaN,Orlando,US,28.4294,-81.30900,BOS,17.29,1804.03,207.46,5.717136
3,3,KLGA,LGA,"La Guardia, New York",La Guardia,New York,US,40.7772,-73.87260,BOS,15.88,296.86,34.14,0.940822
4,4,KORD,ORD,"Chicago O'Hare, Chicago",O'Hare,Chicago,US,41.9786,-87.90480,BOS,14.53,1394.37,160.35,4.418889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364,364,TTCP,TAB,"Tobago-Crown Point, Scarborough",Tobago-Crown Point,Scarborough,TT,11.1497,-60.83220,JFK,0.14,3597.94,413.76,11.402305
365,365,KSTL,STL,"Lambert St Louis, Saint Louis",Lambert St Louis,Saint Louis,US,38.7487,-90.37000,JFK,0.14,1684.15,193.68,5.337390
366,366,KTEB,TEB,"Teterboro, Teterboro",NaN,Teterboro,US,40.8501,-74.06080,JFK,0.14,304.96,35.07,0.966451
367,367,KICT,ICT,"Wichita Mid Continent, Wichita",Mid Continent,Wichita,US,37.6499,-97.43310,JFK,0.14,2306.03,265.19,7.308046
368,368,LEZG,ZAZ,"Zaragoza Air Base, Zaragoza",Air Base,Zaragoza,ES,41.6662,-1.04155,JFK,0.14,5622.05,646.54,17.817204

In [4]:
del flight_df['Unnamed: 0']

In [5]:
flight_df

,icao,iata,name,shortName,municipalityName,countryCode,lat,lon,from,averageDailyFlights,dist,co2KGPerPerson,percentageco2(%)
0,KDCA,DCA,"Ronald Reagan Washington National, District of...",Ronald Reagan Washington National,District of Columbia,US,38.8521,-77.03770,BOS,27.81,641.97,73.83,2.034591
1,KJFK,JFK,"John F Kennedy, New York",John F Kennedy,New York,US,40.6398,-73.77890,BOS,21.14,300.30,34.53,0.951570
2,KMCO,MCO,"Orlando, Orlando",NaN,Orlando,US,28.4294,-81.30900,BOS,17.29,1804.03,207.46,5.717136
3,KLGA,LGA,"La Guardia, New York",La Guardia,New York,US,40.7772,-73.87260,BOS,15.88,296.86,34.14,0.940822
4,KORD,ORD,"Chicago O'Hare, Chicago",O'Hare,Chicago,US,41.9786,-87.90480,BOS,14.53,1394.37,160.35,4.418889
...,...,...,...,...,...,...,...,...,...,...,...,...,...
364,TTCP,TAB,"Tobago-Crown Point, Scarborough",Tobago-Crown Point,Scarborough,TT,11.1497,-60.83220,JFK,0.14,3597.94,413.76,11.402305
365,KSTL,STL,"Lambert St Louis, Saint Louis",Lambert St Louis,Saint Louis,US,38.7487,-90.37000,JFK,0.14,1684.15,193.68,5.337390
366,KTEB,TEB,"Teterboro, Teterboro",NaN,Teterboro,US,40.8501,-74.06080,JFK,0.14,304.96,35.07,0.966451
367,KICT,ICT,"Wichita Mid Continent, Wichita",Mid Continent,Wichita,US,37.6499,-97.43310,JFK,0.14,2306.03,265.19,7.308046
368,LEZG,ZAZ,"Zaragoza Air Base, Zaragoza",Air Base,Zaragoza,ES,41.6662,-1.04155,JFK,0.14,5622.05,646.54,17.817204

In [6]:
flight_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   icao                 369 non-null    object
 1   iata                 369 non-null    object
 2   name                 369 non-null    object
 3   shortName            282 non-null    object
 4   municipalityName     369 non-null    object
 5   countryCode          369 non-null    object
 6   lat                  369 non-null    float64
 7   lon                  369 non-null    float64
 8   from                 369 non-null    object
 9   averageDailyFlights  369 non-null    float64
 10  dist                 369 non-null    float64
 11  co2KGPerPerson       369 non-null    float64
 12  percentageco2(%)     369 non-null    float64
dtypes: float64(6), object(7)
memory usage: 37.6+ KB

In [7]:
del flight_df['shortName']

In [8]:
del flight_df['icao']

In [9]:
flight_df.head()

,iata,name,municipalityName,countryCode,lat,lon,from,averageDailyFlights,dist,co2KGPerPerson,percentageco2(%)
0,DCA,"Ronald Reagan Washington National, District of...",District of Columbia,US,38.8521,-77.0377,BOS,27.81,641.97,73.83,2.034591
1,JFK,"John F Kennedy, New York",New York,US,40.6398,-73.7789,BOS,21.14,300.30,34.53,0.951570
2,MCO,"Orlando, Orlando",Orlando,US,28.4294,-81.3090,BOS,17.29,1804.03,207.46,5.717136
3,LGA,"La Guardia, New York",New York,US,40.7772,-73.8726,BOS,15.88,296.86,34.14,0.940822
4,ORD,"Chicago O'Hare, Chicago",Chicago,US,41.9786,-87.9048,BOS,14.53,1394.37,160.35,4.418889

In [10]:
flight_df.to_csv('finaloutput.csv')