In [1]:
import geopy.distance
import pandas as pd
import numpy as np

- source for co2 emissions https://www.carbonindependent.org/22.html#:~:text=CO2%20emissions%20from%20aviation%20fuel,CO2%20per%20passenger%20per%20hour.

- source for carbon footprint per person per year (4 tons = 3628.74 kg)
https://www.nature.org/en-us/get-involved/how-to-help/carbon-footprint-calculator/#:~:text=A%20carbon%20footprint%20is%20the,is%20closer%20to%204%20tons.

In [2]:
flight_df = pd.read_csv('output.csv')

In [3]:
flight_df.head()

,icao,iata,name,shortName,municipalityName,countryCode,lat,lon,from,averageDailyFlights
0,KDCA,DCA,"Ronald Reagan Washington National, District of...",Ronald Reagan Washington National,District of Columbia,US,38.8521,-77.0377,BOS,27.81
1,KJFK,JFK,"John F Kennedy, New York",John F Kennedy,New York,US,40.6398,-73.7789,BOS,21.14
2,KMCO,MCO,"Orlando, Orlando",NaN,Orlando,US,28.4294,-81.3090,BOS,17.29
3,KLGA,LGA,"La Guardia, New York",La Guardia,New York,US,40.7772,-73.8726,BOS,15.88
4,KORD,ORD,"Chicago O'Hare, Chicago",O'Hare,Chicago,US,41.9786,-87.9048,BOS,14.53

In [13]:
bos = (42.3656, -71.0096)
jfk = (40.6413, -73.7781)
coord_df = flight_df[['lat', 'lon']]
flight_df['dist'] = np.nan
flight_df['co2KGPerPerson'] = np.nan
# percentage of co2 emission of person in this flight taking in kg per person per year
flight_df['percentageco2(%)'] = np.nan
for i in range(160):
    coords_2 = (coord_df.iloc[i, 0], coord_df.iloc[i, 1])
    dist = round(geopy.distance.geodesic(bos, coords_2).km, 2)
    flight_df['dist'].iloc[i] = dist
    co2 = round(((dist * 115)/1000), 2)
    flight_df['co2KGPerPerson'].iloc[i] = co2
    flight_df['percentageco2(%)'].iloc[i] = co2/3628.74*100
    

for i in range(160, len(flight_df)):
    coords_2 = (coord_df.iloc[i, 0], coord_df.iloc[i, 1])
    dist = round(geopy.distance.geodesic(jfk, coords_2).km, 2)
    flight_df['dist'].iloc[i] = dist
    co2 = round(((dist * 115)/1000), 2)
    flight_df['co2KGPerPerson'].iloc[i] = co2
    flight_df['percentageco2(%)'].iloc[i] = co2/3628.74*100

/Users/danielvahey/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [14]:
flight_df.head()

,icao,iata,name,shortName,municipalityName,countryCode,lat,lon,from,averageDailyFlights,dist,co2KGPerPerson,percentageco2(%)
0,KDCA,DCA,"Ronald Reagan Washington National, District of...",Ronald Reagan Washington National,District of Columbia,US,38.8521,-77.0377,BOS,27.81,641.97,73.83,2.034591
1,KJFK,JFK,"John F Kennedy, New York",John F Kennedy,New York,US,40.6398,-73.7789,BOS,21.14,300.30,34.53,0.951570
2,KMCO,MCO,"Orlando, Orlando",NaN,Orlando,US,28.4294,-81.3090,BOS,17.29,1804.03,207.46,5.717136
3,KLGA,LGA,"La Guardia, New York",La Guardia,New York,US,40.7772,-73.8726,BOS,15.88,296.86,34.14,0.940822
4,KORD,ORD,"Chicago O'Hare, Chicago",O'Hare,Chicago,US,41.9786,-87.9048,BOS,14.53,1394.37,160.35,4.418889

In [17]:
flight_df.tail()

,icao,iata,name,shortName,municipalityName,countryCode,lat,lon,from,averageDailyFlights,dist,co2KGPerPerson,percentageco2(%)
364,TTCP,TAB,"Tobago-Crown Point, Scarborough",Tobago-Crown Point,Scarborough,TT,11.1497,-60.83220,JFK,0.14,3506.46,403.24,11.112397
365,KSTL,STL,"Lambert St Louis, Saint Louis",Lambert St Louis,Saint Louis,US,38.7487,-90.37000,JFK,0.14,1436.35,165.18,4.551993
366,KTEB,TEB,"Teterboro, Teterboro",NaN,Teterboro,US,40.8501,-74.06080,JFK,0.14,33.28,3.83,0.105546
367,KICT,ICT,"Wichita Mid Continent, Wichita",Mid Continent,Wichita,US,37.6499,-97.43310,JFK,0.14,2065.28,237.51,6.545247
368,LEZG,ZAZ,"Zaragoza Air Base, Zaragoza",Air Base,Zaragoza,ES,41.6662,-1.04155,JFK,0.14,5913.25,680.02,18.739838

In [18]:
flight_df.to_csv('finaloutput.csv')